openapi: "3.0.3"
info:
  title: Foxhole
  description: The War API allows developers to query information about the state of the current Foxhole World Conquest.
  version: "1"
servers:
  - url: https://war-service-live.foxholeservices.com/api
    description: Live-1
  - url: https://war-service-live-2.foxholeservices.com/api
    description: Live-2
  - url: https://war-service-dev.foxholeservices.com/api
    description: Dev branch
tags:
  - name: war
    description: Data about the current state of the war
  - name: map
    description: Data about the world map
components:
  schemas:
    Team:
      type: string
      enum:
        - NONE
        - WARDENS
        - COLONIALS
    MapItem:
      type: object
      properties:
        teamId:
          example: NONE
          $ref: "#/components/schemas/Team"
        iconType:
          type: integer
          example: 22
          description: The type of the map icon.
          enum:
            - 5
            - 6
            - 7

            - 8
            - 9
            - 10

            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
            - 17
            - 18
            - 19

            - 20
            - 21
            - 22
            - 23
            - 24
            - 25
            - 26
            - 27
            - 28
            - 29
            - 30
            - 31
            - 32
            - 33
            - 34
            - 35
            - 36
            - 37
            - 38
            - 39
            - 40
            - 41

            - 45
            - 46
            - 47

            - 51
            - 52
            - 53
            - 54
        x:
          type: number
          example: 0.21965122
          description: Normalized map coordinate.
        y:
          type: number
          example: 0.6231655
          description: Normalized map coordinate.
        flags:
          example: 0
          type: integer
      required:
        - teamId
        - iconType
        - x
        - y
        - flags
    MapTextItem:
      type: object
      properties:
        text:
          type: string
          example: Abandoned Ward
        x:
          type: number
          example: 0.410076
        y:
          type: number
          example: 0.4957782
        mapMarkerType:
          type: string
          example: Major
          enum:
            - Minor
            - Major
      required:
        - text
        - x
        - y
        - mapMarkerType
    WarState:
      type: object
      properties:
        warId:
          type: string
          format: uuid
          example: 9b33b555-e587-4915-89a5-50eb37f2949d
          description: Unique ID for the war.
        warNumber:
          type: integer
          example: 33
          description: Current war number for the shard.
        winner:
          $ref: "#/components/schemas/Team"
          example: NONE
        conquestStartTime:
          type: integer
          nullable: true
          example: 1563291629686
          description: UNIX timestamp for when conquest started, or `null` if it hasn't started yet.
        conquestEndTime:
          type: integer
          nullable: true
          example: null
          description: UNIX timestamp for when conquest ended, or `null` if it hasn't ended yet.
        resistanceStartTime:
          type: integer
          nullable: true
          example: null
          description: UNIX timestamp for when resistance phase started, or `null` if it hasn't started yet.
        requiredVictoryTowns:
          type: integer
          example: 20
          description: Number of victory towns required to win the war.
      required:
        - warId
        - warNumber
        - winner
        - conquestStartTime
        - conquestEndTime
        - resistanceStartTime
        - requiredVictoryTowns
    MapNames:
      type: array
      items:
        type: string
      example:
        - TheFingersHex
        - GreatMarchHex
        - TempestIslandHex
        - MarbanHollow
        - ViperPitHex
        - BasinSionnachHex
        - DeadLandsHex
        - HeartlandsHex
        - EndlessShoreHex
        - WestgateHex
        - OarbreakerHex
        - AcrithiaHex
        - MooringCountyHex
        - WeatheredExpanseHex
        - LochMorHex
        - MorgensCrossingHex
        - StonecradleHex
        - AllodsBightHex
        - KalokaiHex
        - RedRiverHex
        - OriginHex
        - HowlCountyHex
        - ShackledChasmHex
        - SpeakingWoodsHex
        - TerminusHex
        - LinnMercyHex
        - ClansheadValleyHex
        - GodcroftsHex
        - NevishLineHex
        - CallumsCapeHex
        - FishermansRowHex
        - UmbralWildwoodHex
        - ReachingTrailHex
        - CallahansPassageHex
        - AshFieldsHex
        - DrownedValeHex
        - FarranacCoastHex
    WarReport:
      type: object
      properties:
        totalEnlistments:
          type: integer
          description: The number of enlistements.
          example: 148
        colonialCasualties:
          type: integer
          description: The number of casualties from players on the Colonial team.
          example: 202
        wardenCasualties:
          type: integer
          description: The number of casualties from players on the Warden team.
          example: 222
        dayOfWar:
          type: integer
          description: The current in game day of the war.
          example: 2
      required:
        - totalEnlistments
        - colonialCasualties
        - wardenCasualties
        - dayOfWar
    MapData:
      type: object
      properties:
        regionId:
          type: integer
          example: 1
          description: Internal region ID for this map.
        scorchedVictoryTowns:
          type: integer
          example: 0
        mapItems:
          type: array
          items:
            $ref: "#/components/schemas/MapItem"
        mapTextItems:
          type: array
          items:
            $ref: "#/components/schemas/MapTextItem"
        lastUpdated:
          type: integer
          example: 1524672871955
          description: Timestamp in milliseconds from epoch of when this map was last updated.
        version:
          type: integer
          example: 2
          description: Version index, increments whenever this map data changes. Used for caching.
      required:
        - regionId
        - scorchedVictoryTowns
        - mapItems
        - mapTextItems
        - lastUpdated
        - version
paths:
  /worldconquest/war:
    get:
      operationId: get-war-state
      tags:
        - war
      description: Returns data about the current state of the war.
      responses:
        "200":
          description: Data about the current state of the war.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WarState"
  /worldconquest/maps:
    get:
      operationId: list-map-names
      tags:
        - map
      description: List map names.
      responses:
        "200":
          description: Map names.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapNames"
  /worldconquest/warReport/{mapName}:
    get:
      operationId: get-map-war-report
      parameters:
        - name: mapName
          in: path
          description: Map name.
          schema:
            type: string
          required: true
      tags:
        - map
      description: Returns the number of enlistments, casualties, and other map specific information
      responses:
        "200":
          description: The number of enlistments, casualties, and other map specific information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WarReport"
  /worldconquest/maps/{mapName}/static:
    get:
      operationId: get-static-map-data
      parameters:
        - name: mapName
          in: path
          description: Map name.
          schema:
            type: string
          required: true
      tags:
        - map
      description: Static map data includes things that never change over the lifecycle of a map. This includes map text labels, resource nodes, and world structures. You only need to request this once per map between World Conquests.
      responses:
        "200":
          description: Static map data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapData"
  /worldconquest/maps/{mapName}/dynamic/public:
    get:
      operationId: get-dynamic-public-map-data
      parameters:
        - name: mapName
          in: path
          description: Map name.
          schema:
            type: string
          required: true
      tags:
        - map
      description: Dynamic map data includes map icons that could change over the lifecycle of a map. This includes static bases and static base build sites.
      responses:
        "200":
          description: Dynamic map data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MapData"
